body {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a01632;
}

h1 {
  font-family: "Cabin Sketch", cursive;
  color: #fdebbe;
}

span {
  font-size: 0.5em;
}

#sketch-area {
  background-color: #e0e1e2;
  width: 80%;
  height: 70%;
}

#knobs-and-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  margin-top: 1.5%;
}

#buttons {
  display: flex;
  flex-wrap: nowrap;
}

.knobs {
  background-color: #e0e1e2;
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  box-shadow: 0 0 1em;
}

button,
input {
  background-color: #a01632;
  border-style: solid;
  border-color: #fdebbe;
  color: #fdebbe;
  --button-hover: #fdebbe;
  /* remove water.css hover style */
  --focus: none; /* remove water.css focus style */
}

button:hover,
input:hover {
  color: #000;
  background-color: #fdebbe;
  border-color: #000000;
  transition: all 0.5s;
}

a {
  background-color: #fdebbe;
  padding-left: 0.15em;
  padding-right: 0.15em;
  color: #000;
  border-radius: 2px;
}
a:hover {
  background-color: #000;
  color: #fdebbe;
  transition: all 0.5s;
}
footer {
  margin-bottom: 5px;
  color: #fdebbe;
}
