body {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a01632;
}

#sketch-area {
  background-color: #e0e1e2;
  width: 80%;
  height: 70%;
}

#knobs-and-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  margin-top: 1.5%;
}

#buttons {
  display: flex;
  flex-wrap: nowrap;
}

.knobs {
  background-color: #e0e1e2;
  width: 7em;
  height: 7em;
  border-radius: 50%;
}
